<%- include header.ejs %>
<div class="main-container" style="text-align: center">
    <div class="post-auth">
        <form method="post">
            <div class="form-group">
                <div class="input-symbol">
                    <input type="text" class="form-control" id="InputInfo" placeholder="添加描述..." name="info">
                </div>
            </div>
            <div class="input-symbol">
                <input type="text" class="form-control" id="InputTag" placeholder="添加分类一..." name="tag1">
                <input type="text" class="form-control" id="InputTag" placeholder="添加分类二..." name="tag2">
                <input type="text" class="form-control" id="InputTag" placeholder="添加分类三..." name="tag3">
            </div>
            <button type="submit" class="btn-post">提交</button>
        </form>
    </div>
</div>
<%- include footer.ejs %>