<!--分页导航-->
<div class="page">
    <div>
        <ul class="pager">
            <% if (!isFirstPage) { %>
            <li class="previous"><a href="?page=<%= page - 1 %>"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
            <% } else {%>
            <li class="previous disabled"><a><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
            <% } %>
            <% if (!isLastPage) { %>
            <li class="next"><a href="?page=<%= page + 1 %>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
            <% } else { %>
            <li class="next disabled"><a><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
            <% } %>
        </ul>
    </div>
</div>