<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<div class="post-container">
    <div class="post-auth">
        <form method="post">
            <h1 class="title-auth">Join.</h1>
            <p class="subtitle-auth">Joining allows you to make private lists</p>
            <div class="input-symbol">
                <input type="text" class="form-control" id="InputUsername" placeholder="username" name="name">
            </div>
            <div class="input-symbol">
                <input type="email" class="form-control" id="InputEmail1" placeholder="Email" name="email">
            </div>
            <div class="input-symbol">
                <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password">
            </div>
            <div class="input-symbol">
                <input type="password" class="form-control" id="InputPassword2" placeholder="Password repeat" name="passwordrep">
            </div>
            <button type="submit" class="btn-post" id="sub">Submit</button>
        </form>
        <a href="/signin" class="link-auth-alt">Have an account? Sign in</a>
    </div>
</div>
</body>
</html>